<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amazon.ca</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
		<header>
			<nav>
				<ul class="navigation-bar">
				<li class="logo"><a href="/"> <img src="/img/Amazon-logo-white.svg.png" alt="amazon-logo" > </a></li>	
				<div class="navigation-box">
					<article class="nav-section">
						<p class= "nav-element"><a href="#">Accounts</a></p>
						<p class= "nav-element"><a href="#">Orders</a></p>
						
						{{#if user}}

							<button type="button" class="nav-option nav-element"><a href="/logout"><strong>Logout</strong></a></button>
							
						{{else}}

							<button type="button" class="nav-option nav-element"><a href="/login"><strong>Sign In</strong></a></button>
							<button type="button" class="nav-option nav-element"><a href="/registration"><strong>Sign Up</strong></a></button>

						{{/if}}
						
						
					</article>
				</div>
				</ul>
			</nav>
		</header> 
		<main>
			{{{body}}}
		</main>
		<footer>
			<section>
				<nav >
					<ul class = "container-footer">	
						<li class="footer-logo"><a href="/"><img src="/img/Amazon-logo-white.svg.png" alt="amazon-logo"></a></li>
						<li class="footer-elements">
							<ul>
								<li><h3 class = "footer-heading1">Get to know Us</h3></li>
								<li><a href ="#">Careers</a></li>
								<li><a href ="#">Amazon planet</a></li>	
								<li><a href ="#">Investor relation</a></li>
								<li><a href ="#">Press release</a></li>						
							</ul>
						</li>
						<li class="footer-elements">
							<ul>
								<li><h3 class = "footer-heading1">Make money</h3></li>
								<li><a href ="#">Sell on Amazon</a></li>
								<li><a href ="#">Amazon associates</a></li>	
								<li><a href ="#">Advertise your products</a></li>			
							</ul>
						</li>	
						<li class="footer-elements">
							<ul>
								<li><h3 class = "footer-heading1">Let Us help You</h3></li>
								<li><a href ="#">Shipping rates</a></li>
								<li><a href ="#">Returns</a></li>					
								<li><a href ="#">Amazon Prime</a></li>
								<li><a href ="#">Cutomer service</a></li>
							</ul>
						</li>
						<li class="footer-elements">
							<ul>
								<li><h3 class = "footer-heading1">Follow Us</h3></li>
								<div class="social-icons">
									<li class="item-inline" ><a href="#" ><img src="/img/Rounded_Facebook_svg-128.png" alt="facebook-symbol" class="social-link"></a></li>
									<li class="item-inline"><a href="#"><img src="/img/Rounded_Instagram_svg-128.png"  alt="instagram-symbol"class="social-link"></a></li>
									<li class="item-inline"><a href="#"><img src="/img/Rounded_Twitter5_svg-128.png" alt="twitter-symbol"class="social-link"></a></li>	
								</div>
							</ul>
						</li>
					</ul>
				</nav>
			</section>
			<section>
					<nav>
						<ul class="bottom-footer">
							<li><p class = "footer-heading">&copy;2008 - 2020 Amazon.com  All rights are reserved.</p></li>
							<li>
								<nav>
									<ul>
										<li class="item-inline"><a href="#">Privacy Policy |</a> </li>
										<li class="item-inline"><a href="#">Cookies Policy |</a></li>
										<li class="item-inline"><a href="#">Terms and Conditions</a></li>
									</ul>
								</nav>
							</li>
						</ul>
					</nav>
				</section>
		</footer>
	</body>
</html>