<section >
    <h2>Welcome To Amazon {{user.name}}</h2>
    <a href="/products/list  " class=" heading product-add-button">
        <button type="submit" class="registerbtn" href="/inventory">View list of all the products</button>
    </a>
    <div>
    
    
    </div>
    
    
</section>