<section >
    <a href="/products/list  " class=" heading product-add-button">
        <h3>View list of all the products</h3>
    </a>
    <div>
    <h2>Welcome To Amazon </h2>
    <h1>{{user.name}}</h1>
    
    </div>
    
    
</section>