<section class="login-form">
    <div>
    <h1>Welcome To Amazon {{user.name}}</h1>
    <img class="logo" href="/" src="img/amazon-logo.png" alt="Hard-disk"/>
    <h1>Enjoy your shopping time with us.</h1>
    </div>

    
</section>