<h2> Home page</h2>

<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, velit cum earum quae ipsum at harum facilis, sint repellat ad repudiandae alias eius facere beatae! Ratione tenetur aspernatur exercitationem quos!
</p>

<img src="/img/a.jpeg" alt="image">