<section class="top-banner">
			</section>
			<section>
				<h1 class="title-heading"><i>Welcome {{user.name}}</i></h1>
				<section class="top-deals">
					<h1 class="heading">Top Deals</h1>
				</section>
				<section id="body" class="topdeal-section">    
					<div class="topdeal-grid">
                    {{#each products}}
						<div class="box-tile">
							<a href="/products" >
							<p class = "text-opt">{{this.title}}</p>
							<img class="project-image" src="/img/{{this.imgPath}}" alt="Electronics"/>
							<p class = "detail-opt">Explore Now</p></a>
						</div>  
                    {{/each}}   
                    </div>  
				</section>
			</section>
			<section>
			<section class="top-deals">
				<h1 class="heading">Best Sellers</h1>
			</section>
			<section >
				<section class="container">
					{{#each bestsellers}}
						<a href="/products"  >
							<article class='card-container'>
								<img src="/uploads/{{this.image}}" class="card-image" alt="hard-disk">
							</article>
						</a>	
					{{/each}}	
				</section>
			</section>