<section id="body" class="prdt-section">
	<form method="POST" action="/products">
        <article class="category-search">
            <div class="form-element">
                <label>Product Category</label>
                <select name="category">
                    <option value="electronics" >Electronics</option>
                    <option value="mens" >Mens</option>
                    <option value="womens">Womens</option>
                    <option value="kids">Kids</option>
                    <option value="books">Books</option>
                </select>
            </div>
            <input class="submit-button" type="Submit" value="Submit">
        </article>
    </form>
	<div class="prdt-grid">
                    {{#each data}}  
					<div class="prdt-tile">
						<a href="/product-list" target="_blank" >
						<img class="prdt-image" src="/uploads/{{this.image}}" alt="Hard-disk"/>
						<p class = "prdt-detail">{{this.description}}</p>
						<div style="text-align: left"><img class= "star-rating" src= "/img/{{this.ratimg}}" alt="star-rating"/></div>
						<p class = "prdt-subdetail">{{this.price}}</p></a>
					</div>
                  	{{/each}}
				  	<div class="prdt7 prdt-tile">
						<h3 class="filter-title">Electronics</h3>
						<ul class = "list">
							<li><a href ="#">Accessories & Supplies</a></li>
							<li><a href ="#">Camera, Photo & Video</a></li>	
							<li><a href ="#">Car & Vehicle Electronics</a></li>
							<li><a href ="#">Cell Phones & Accessories</a></li>
							<li><a href ="#">eBook Readers & Accessories</a></li>
							<li><a href ="#">GPS & Navigation</a></li>
							<li><a href ="#">Headphones</a></li>
							<li><a href ="#">Home Audio</a></li>
							<li><a href ="#">Office Electronics</a></li>
							<li><a href ="#">Portable Audio & Video</a></li>
							<li><a href ="#">Radio Communication</a></li>
							<li><a href ="#">Security & Surveillance</a></li>
							<li><a href ="#">Telephones & Accessories</a></li>
							<li><a href ="#">Televisions & Video</a></li>
							<li><a href ="#">Wearable Technology</a></li>						
						</ul>
				 	</div>  
	</div>				
</section>