<section>  
    <form action = "/Registration" method = "POST">
        <div class="login-reg">
            <h1>Create account</h1>
            <hr>
            {{#each validationreg}}
                 <div class="errors">&#33;  {{this}}</div>
             {{/each}}  
                    
            <label for="name"><b>Your Name</b></label>
            <input type="text" placeholder="Enter your name" name="name" id="name" >

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" id="email" >
                    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Atleast 6 characters" name="psw" id="psw" >
                    
            <label for="pswrepeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="pswrepeat" id="pswrepeat" >
            <hr>
            <button type="submit" class="registerbtn">Register</button>

            <p>By creating an account, you agree to Amazon's <a class= "highlight" href="#">Condition of Use </a> and <a class= "highlight" href="#">Privacy Notice</a></p>
        </div>       
                
        <div class="container signin login-reg">
         <p>Already have an account? <a class= "highlight" href="#">Sign in</a>.</p>
        </div>
    </form>
</section>